<header class="header-top">
    <figure id="logo">
        <a href="index.html" title="Link para a página Home">
        <img src="{{ site.baseurl }}/assets/img/logo.jpg" alt="Logomarca da Lios">
        </a>
    </figure>
    <nav class="menu">
        <ul>
        <li class="item-menu"><a class="link-menu" title="link para a página Home" href="#">Home</a></li>
        <li class="item-menu"><a class="link-menu" title="link para a página Soluções" href="#">Soluções</a></li>
        <li class="item-menu"><a class="link-menu" title="link para a página Sobre" href="#">Sobre</a></li>
        <li class="item-menu"><a class="link-menu" title="link para a página Contato" href="#">Contato</a></li>
        </ul>
    </nav>
</header>