<section class="container-articles">
    
    <article class="article">
        <header class="header-article">
            <a class="link" href=""><img src="{{ site.baseurl }}/assets/img/ico1.jpg" alt="Avaliação de 9.5 do TechTudo"></a>
            <div class="title-subtitle-article">
                <h2 class="title-article">Nota do TmCheque</h2>
                <h3 class="subtitle-article">Veja a avaliação do TechTudo</h3>
            </div>
        </header>
        <figure class="img-article">
            <a href="https://www.techtudo.com.br/tudo-sobre/tmcheque.html" target="_blank">
                <img src="{{ site.baseurl }}/assets/img/home_section_thumb1.jpg" alt="Link para o artigo do TechTudo sobre o TmCheque">
            </a>
        </figure>
        <p class="content-article">
            <b class="bold">TmCheque - Software para preencher cheques</b>
            <br>
            É um software com o objetivo de preencher cheque em 
            impressoras comum ou de cheque.
            <br/>
            <b class="bold">Nossa opinião</b>
            <br/>
            Programa perfeito para preencher uma ou várias folhas de cheques. 
            Para comerciantes ou empresários que efetuam pagamentos com 
            frequência,TmCheque é o braço direito para que quer economizar tempo. 
        </p>
    </article>

    <article class="article">
            <header class="header-article">
                <a class="link" title="link que leva para o canal no YouTube com treinamentos" href="">
                    {%- include youtube-logo.svg -%}
                </a>
                <div class="title-subtitle-article">
                    <h2 class="title-article">Treinamentos</h2>
                    <h3 class="subtitle-article">Assista nossos tutoriais em vídeo</h3>
                </div>
            </header>
            <figure class="img-article">
                {%- include youtube-logo.svg -%}
            </figure>
            <p class="content-article">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sed architecto harum animi adipisci corporis, atque dicta 
                veritatis explicabo blanditiis officia!
            </p>
    </article>

    <article class="article">
        <header class="header-article">
            <a class="link" href="">
                <img src="{{ site.baseurl }}/assets/img/ico1.jpg" alt="Avaliação de 9.5 do TechTudo">
            </a>
            <div class="title-subtitle-article">
                <h2 class="title-article">Treinamentos</h2>
                <h3 class="subtitle-article">Veja a avaliação do TechTudo</h3>
            </div>
        </header>
        <p class="content-article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sed architecto harum animi adipisci corporis, atque dicta 
            veritatis explicabo blanditiis officia!
        </p>
    </article>


</section>