body {
    background-color: #bcbcbc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
}

#wrap {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 20px;
}

.menu {
    margin-top: 20px;
}

.menu .item-menu {
    display: inline-block;
    margin: 5px;
}

.link-menu {
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.link-menu:hover {
    background-color: #4e97cc;
    color: #ffffff;
}